<h1> Profile </h1>

<div id='userInfo'>
	Email: {{userInfo.email}} <br>
	Name: {{userInfo.firstname}} {{userInfo.lastname}} <br>
	Username: {{userInfo.username}} <br>
	{{!-- {{Change Password Option?}} --}}
	Swipes: {{#if userInfo.swipes}} I can provide swipes {{else}} I need to be swiped {{/if}} <br>
	Description: {{userInfo.description}} <br>
	<div id='editUserInfoToggle'>
		<button onclick='editUserInfoToggle()'> Edit Profile </button> 
	</div>
</div>

<div style='display:none' id='editUserInfo'>
	<form method='POST' action=''>
		Email: <input type='email' name='email' value='' placeholder='new_email@service.com'> <br>
		<input type='radio' name='swipes' value='true'> Yes, I have swipes | 
		<input type='radio' name='swipes' value='false'> No, I do not have swipes <br>
		Description: <br><textarea rows='4' cols='50' name='description' value='' placeholder='I love upstein too!'></textarea><br>
		<input type='submit' value='Save Changes'> | <input type='reset' value='Reset'>
	</form>
</div>

